.w-200 {
    width: 200px !important;
}

.width-100 {
    width: 100%;
}

.width-80 {
    width: 80%;
}

.font-cusize {
    font-size: 24px;
    color: #0da9ef;
}

.product-card {
    padding-top: 0px !important;
    padding-bottom: 20px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.product-gallery {
    padding-top: 0px !important;
}

.isotope-grid.grid-no-gap .gutter-sizer {
    width: 0;
}

#sp-help-side-menu > a {
    cursor: pointer;
}

#sp_instagram_feed {
    background-color: lightgreen;
}

.grid-item > .gallery-item {
  margin-bottom: 0;
}
