/* remove bootstrap gutter*/
.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

    .row.no-gutter [class*='col-']:not(:first-child),
    .row.no-gutter [class*='col-']:not(:last-child) {
        padding-right: 0;
        padding-left: 0;
    }


/* the good stuff */
body {
}

.img-featured-container {
    overflow: hidden;
    position: relative;
}

    .img-featured-container img {
        width: 100%;
        /*   padding: 10px; */
    }

    .img-featured-container .img-backdrop {
        background: linear-gradient(135deg, rgba(38, 163, 255, 0.85), rgba(83, 201, 179, 0.85));
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s ease;
    }

    .img-featured-container:hover > .img-backdrop {
        opacity: 1;
    }

    /* center text horizontally and vertically on image hover */
    .img-featured-container .description-container {
        color: #fff;
        font-size: 12px;
        line-height: 1.2;
        padding: 0 30px;
        text-align: center;
        line-height: 20px;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        z-index: 2;
        opacity: 0;
        transition: all .2s ease;
    }

        .img-featured-container .description-container .fa-instagram {
            font-size: 40px;
        }

        .img-featured-container .description-container p {
            font-weight: 300;
            margin-bottom: 0;
        }

    .img-featured-container:hover .description-container {
        opacity: 1;
    }

    .img-featured-container .description-container .caption {
        display: none;
        margin-bottom: 10px;
    }

    .img-featured-container .description-container .likes,
    .img-featured-container .description-container .comments {
        margin: 0 5px;
    }

/* load more button */
#sp-instagram-feed-btn {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* media queries  */
@media screen and (min-width:768px) {
    .img-featured-container .description-container .caption {
        display: block;
    }
}

@media screen and (max-width:450px) {
    .img-featured-container .description-container {
        padding: 0 8px;
    }
}

#sp-instagram-feed > div {
  background: #ebedf3;
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 32.666666667%;
  padding-top: 32.666666667%;
  float: left;
  margin: 0;
  margin-right: .5%;
  margin-bottom: .5%;
}

#sp-instagram-feed > div > div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
}

#sp-instagram-feed > div > a,
#sp-instagram-feed > div > a > div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#sp-instagram-feed > div > a > div > div.description-container,
#sp-instagram-feed > div > a > div > div > p,
#sp-instagram-feed > div > a > div > div > span {
  top: 50%;
  left: 50%;
}

#sp-instagram-feed > div > a > div > div.sp-instagram-feed-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
