.widget-categories ul>li.has-children.expanded>ul, .widget-links ul>li.has-children.expanded>ul {
    max-height: 10000px;
}

.widget-categories-child-input {
  display: block;
  width: auto;
  min-width: 200px;
  max-width: 250px;
}

.widget-categories-child-textarea {
  display: block;
  width: 100%;
  min-width: 200px;
  max-width: 450px;
}

.widget-categories ul>li .btn {
  margin-top: unset;
  margin-bottom: unset;
}

.widget-categories ul>li.empty-children {
  padding-top: 6px;
  padding-bottom: 6px;
}

.widget-categories ul li > i,
.widget-categories ul li > ul li.product-li-photos i {
  margin-top: -4px;
  color: #d45252;
}

.widget-categories ul li a,
.widget-categories ul li i {
  cursor: pointer;
}

.widget-categories .custom-file {
  display: block;
  max-width: 350px;
}

.tag.active {
  cursor: pointer;
}

.safari-tags-area {
  max-width: 500px;
}

li.product-li-photos ul li span {
  max-width: 400px;
}
